    <!-- Header -->
    <header class="w-full bg-gray-800 text-white p-4 flex justify-between items-center">
        <div>
            <!-- Logo or Page Title -->
            <a href="../index.html"><span class="text-xl font-bold">gemini0x2</span></a>
        </div>
        <div>
            <!-- Blog Button -->
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                <a href="https://github.com/gemini0x2" target="_blank">Github</a>
            </button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                <a href="../blog.html">Blog</a>
            </button>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                <a href="../contact.html">contact</a>
            </button>
        </div>
    </header>