    <!-- Header -->
    <header class="w-full bg-gray-800 text-white p-4 flex justify-between items-center">
        <div>
            <!-- Logo or Page Title -->
            <a href="../index.html"><span class="text-xl font-bold">gemini0x2</span></a>
        </div>
        <div>
            <!-- Blog Button -->
            <a href="https://github.com/gemini0x2" target="_blank">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Github</button>
            </a>
            <a href="../blog.html">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Blog</button>
            </a>
            <a href="../contact.html">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">contact</button>
            </a>
        </div>
    </header>
